@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
    font-family: 'Acme', sans-serif;
    background-color: rgba(194, 245, 76, 0.612);
}
h1, p, h3{
    margin-left: 50px;
}
h1{
    font-size: 50px;
    color: rgb(68, 20, 113);
}
h3{
    font-size: 30px;
}
p{
    width: 70%;
    text-align: justify;
    font-size: 20px;
    color: rgb(36, 12, 71);
    line-height: 1.5;
}
.imgSrc{
    float: right;
    margin-right: -210px;
    margin-top: -400px;
}
.imgSrc img{
    width: 50%;
}
.footer h1{
    font-size: 20px;
    color: rgb(17, 17, 63);
    text-align: center;
}
.footer h5{
    font-size: 15px;
    color: rgb(255, 0, 60);
    text-align: center;
    margin-top: -10px;
}